.content{
  height: 100vh;
  width: 80vw;
}

.text-content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: gray;
  color: white;
  border-radius: 20px;
  font-size: 50px;
}  